body {
    background-color: bisque;
}
table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

table.bolillas {
    border-collapse: collapse;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    margin: 0 auto;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

td.marked {
    background-color: #ccc;
}

td.marcada {
    background-color: #f2f2f2;
    color: #999999;
    text-decoration: line-through;
}

#cartilla td{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid black;
}